$white: #fff;
$black: #000;

$primary: #565656;
$primary5: color-mix(in srgb, $primary 5%, $white);
$primary10: color-mix(in srgb, $primary 10%, $white);
$primary20: color-mix(in srgb, $primary 20%, $white);
