// font-size PC
$fzSSPC: 12;
$fzSPC: 14;
$fzM: 16;
$fzLPC: 20;
$fzXLPC: 24;
$fzXXLPC: 32;
$fzXXXLPC: 64;

// font-weight
$fwBold: 700;
$fwMedium: 500;
$fwNormal: 400;

// line-height
$lhFlat: 1;
$lhS: 1.4;
$lhM: 1.6;

// letter-speacing
$lsM: .04em;
