// font-size PC
$fzSSPC: 12;
$fzSPC: 14;
$fzM: 16;
$fzL: 18;
$fzLL: 20;
$fzLLL: 24;

// font-weight
$fwBold: 700;
$fwMedium: 500;
$fwNormal: 400;

// line-height
$lhS: 1.4;
$lhM: 1.6;

// letter-speacing
$lsM: .04em;
