@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .link {
    display: block;
    background-color: $white;
    box-shadow: 0 0 4px 4px $primary10;
    &:hover {
      opacity: $opacity;
      .image {
        scale: $scale;
      }
    }
  }
  .imageWrapper {
    overflow: hidden;
  }
  .image {
    aspect-ratio: 16 / 9;
    width: 100%;
    transition: scale $transition, opacity $transition;
  }
  .body {
    padding: 20px;
    display: grid;
    row-gap: 5px;
  }
  .time {
    display: block;
    font-size: 12px;
  }
  .title {
    font-size: 18px;
    font-weight: $fwMedium;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

@include sp {
  .link {
    display: block;
  }
  .image {
    aspect-ratio: 16 / 9;
  }
  .time {
    font-size: vw(12);
  }
  .title {
    font-size: vw(18);
    font-weight: $fwMedium;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
