@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .btn {
    position: relative;
    display: block;
    width: fit-content;
    margin-inline: auto;
    max-width: 100%;
    padding: 10px 20px;
    border-radius: 100vh;
    font-weight: $fwMedium;
    background-color: $secondary;
    color: $white;
    text-shadow: 0 0 2px $secondaryBlack;
    background: linear-gradient(180deg, $secondary80 50%, $secondary 50%);
    transition: $transition;
    box-shadow: 0 4px 0 0 $secondaryBlack;
    &:hover {
      box-shadow: none;
      transform: translateY(4px);
    }
  }
}

@include sp {
  .btn {
    position: relative;
    display: block;
    width: fit-content;
    margin-inline: auto;
    max-width: 100%;
    padding: vw(10) vw(20);
    border-radius: 100vh;
    font-weight: $fwMedium;
    background-color: $secondary;
    color: $white;
    text-shadow: 0 0 vw(2) $secondaryBlack;
    background: linear-gradient(180deg, $secondary80 50%, $secondary 50%);
    transition: $transition;
    box-shadow: 0 vw(4) 0 0 $secondaryBlack;
    &:hover {
      box-shadow: none;
      transform: translateY(vw(4));
    }
  }
}
