@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .thumbnail {
    display: block;
    aspect-ratio: 16 / 9;
    width: min(100%, 640px);
    margin: 10px auto 0;
    animation: spiritual 8s ease-in-out infinite;
  }
  .tags {
    display: flex;
    gap: 20px;
    width: min(100%, 640px);
    margin: 20px auto 0;
  }
  .link {
    text-decoration: underline;
    @include hoverOpacity
  }
  .dateWrapper {
    display: flex;
    place-content: center;
    gap: 10px;
  }
  .date {
    color: $primary;
    font-size: 14px;
  }
  .heading {
    font-size: 28px;
    text-align: center;
    margin-top: 14px;
  }
}

@include sp {
  .thumbnail {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: vw(10) auto 0;
    animation: spiritual 8s ease-in-out infinite;
  }
  .tags {
    display: flex;
    gap: vw(20);
    width: 100%;
    margin: vw(20) auto 0;
  }
  .link {
    text-decoration: underline;
    @include hoverOpacity
  }
  .dateWrapper {
    display: flex;
    place-content: center;
    gap: vw(10);
  }
  .date {
    color: $primary;
    font-size: vw(14);
  }
  .heading {
    font-size: vw(28);
    text-align: center;
    margin-top: vw(14);
  }
}

@keyframes spiritual {
  0% {
    filter: grayscale(0%);
  }
  50% {
    filter: grayscale(50%);
  }
  100% {
    filter: grayscale(0%);
  }
}
