@use '../../../styles/use/import' as *;
@use '../../../styles/config/import' as *;

@include pc {
  .fv {
    padding-bottom: #{$spaceL}px;
  }
  .slider {
    max-width: #{$InnerWidthMax}px;
    margin-inline: auto;
    :global(.swiper-pagination) {
      gap: 14px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
    }
    :global(.swiper-pagination-bullet) {
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid $secondary;
      background-color: $white;
      cursor: pointer;
    }
    :global(.swiper-pagination-bullet-active) {
      background-color: $secondary;
      border: 1px solid $white;
    }
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      position: absolute;
      bottom: 0;
      right: #{$innerSpace}px;
      width: 30px;
      aspect-ratio: 1;
      background: $secondary;
      border-radius: 50%;
      border: 1px solid $white;
      cursor: pointer;
      &:hover {
        @include hoverOpacity
      }
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        translate :-50% -50%;
        width: 55%;
        height: 55%;
        background-color: $white;
        mask: url(/img/icon-arrow-right.svg) no-repeat center / contain;
        transition: scale $transition;
        content: "";
      }
    }
    :global(.swiper-button-prev) {
      scale: -1 -1;
      right: 55px;
    }
  }
}

@include sp {
  .fv {
    padding-bottom: vw($spaceM);
  }
  .slider {
    margin-inline: auto;
    :global(.swiper-pagination) {
      gap: vw(14);
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: vw(20);
    }
    :global(.swiper-pagination-bullet) {
      display: block;
      width: vw(14);
      height: vw(14);
      border-radius: 50%;
      border: vw(1) solid $secondary;
      background: $white;
      cursor: pointer;
    }
    :global(.swiper-pagination-bullet-active) {
      background: $secondary;
      border: 1px solid $white;
    }
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      top: vw(60);
      right: 11%;
      position: absolute;
      width: vw(30);
      height: vw(30);
      background: $secondary;
      border-radius: 50%;
      z-index: $zIndexPlus;
      border: vw(1) solid $white;
      cursor: pointer;
      @include hoverOpacity;
      &:before {
        position: absolute;
          top: 50%;
          left: 50%;
          translate :-50% -50%;
          width: 55%;
          height: 55%;
          background-color: $white;
          mask: url(/img/icon-arrow-right.svg) no-repeat center / contain;
          transition: scale $transition;
          content: "";
      }
    }
    :global(.swiper-button-prev) {
      left: 11%;
      right: 0;
      &::before {
        scale: -1 -1;
      }
    }
  }
}
