@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .blockWrapper {
    margin: -80px auto 0;
  }
  .list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include tab {
  .list {
    grid-template-columns: auto;
  }
}

@include sp {
  .blockWrapper {
    margin: vw(-60) auto 0;
  }
  .list {
    display: grid;
    gap: vw(40);
  }
}
