@use "./use/import" as *;
@use "./config/import" as *;

body {
	word-break: break-all;
	overflow-wrap: break-word;
  color: $black;
}

img  {
	display: inline-block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

h1,h2,h3,h4,h5,h6 {
  line-height: $lhS;
  letter-spacing: $lsM;
}

p,li,dt,dd,a {
	line-height: $lhM;
	letter-spacing: $lsM;
}

@include pc {
	p,li,dt,dd,a {
		font-size: #{$fzM}px;
	}
}

@include sp {
	p,li,dt,dd,a {
		font-size: vw($fzM);
	}
}
