@use "./use/import" as *;
@use "./config/import" as *;

body {
	word-break: break-all;
	overflow-wrap: break-word;
  color: $primary;
  background-color: $primary5;
}

img  {
	display: inline-block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  letter-spacing: .04em;
  text-box: trim-both;
}

p,li,dt,dd {
	line-height: 1.4;
	letter-spacing: .04em;
  text-box: trim-both;
}

@include pc {
	p,li,dt,dd,a,span {
		font-size: 16px;
	}
}

@include sp {
	p,li,dt,dd,a,span {
		font-size: vw(14);
	}
}
