@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .dialog {
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    &::backdrop {
      backdrop-filter: blur(10px);
    }
  }
  .inner {
    max-height: 50dvh;
    max-width: 900px;
    padding: 20px 10px;
    overflow-y: auto;
    background-color: $white;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    overscroll-behavior: none;
  }
}

