@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.wrapper {
  overflow-x: hidden;
  background: $gradation20;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
