@use '../../config/import' as *;

@mixin pc {
  @media screen and (min-width: $mediaPc) {
    @content;
  }
}

@mixin tab {
	@media screen and (max-width: $mediaTab) and (min-width: $mediaPc) {
		@content;
	}
}

@mixin sp {
  @media screen and (max-width: $mediaSp) {
    @content;
  }
}
