@use '../../../styles/use/import' as *;
@use '../../../styles/config/import' as *;

@include pc {
  .block {
    padding: 20px;
    background-color: $white;
    max-width: calc(#{$innerWidth}px + 40px * 2);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 $primary20;
    margin-inline: auto;
  }
  .thumbnail {
    display: block;
    aspect-ratio: 16 / 9;
    width: min(100%, 640px);
    margin: 20px auto 0;
  }
  .dateWrapper {
    display: flex;
    place-content: center;
    gap: 20px;
  }
  .date {
    color: $gray02;
    font-size: 14px;
  }
  .heading {
    font-size: 28px;
    text-align: center;
    margin-top: 14px;
  }
  .cmsContent {
    margin-top: 40px;
    &:not(#_) > *:first-child {
      margin-top: 0;
    }
    h2, h3, h4, h5, h6 {
      font-weight: $fwMedium;
      &:not(#_) {
        & + * {
          margin-top: 20px;
        }
      }
    }
    p, ol, ul {
      margin-top: 20px;
    }
    h2 {
      margin-top: 50px;
      position: relative;
      border-bottom: 4px solid $primary10;
      padding-bottom: 10px;
      font-size: 22px;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
        height: 4px;
        background-color: $primary;
        content: "";
        transform: translateY(100%);
      }
    }
    h3 {
      position: relative;
      margin-top: 40px;
      padding-left: 20px;
      font-size: 20px;
      &::before {
        position: absolute;
        top: 3px;
        left: 0;
        width: 5px;
        height: 24px;
        background-color: $primary;
        content: "";
      }
    }
    ul {
      display: grid;
      row-gap: 10px;
      position: relative;
      padding: 20px;
      background-color: $primary10;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 24px 24px 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: 20px;
        &::before {
          position: absolute;
          top: .1em;
          left: 0;
          transform: translateY(50%);
          width: 10px;
          aspect-ratio: 1;
          background: $primary;
          border-radius: 50%;
          content: "";
        }
      }
    }
    ol {
      position: relative;
      display: grid;
      gap: 15px;
      background-color: $primary10;
      padding: 20px;
      counter-reset: number 0;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 24px 24px 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: 30px;
        &::before {
          display: grid;
          place-content: center;
          position: absolute;
          top: -.8em;
          left: 0;
          line-height: 1;
          translate: 0 50%;
          width: 24px;
          aspect-ratio: 1;
          padding-bottom: 2px;
          border-radius: 50%;
          background: $primary;
          color: $white;
          font-weight: $fwMedium;
          counter-increment: number 1;
          content: counter(number);
        }
      }
    }
    a {
      color: $secondary;
      text-decoration: underline;
      @include hoverOpacity
    }
  }
}

@include sp {
  .block {
    padding: vw(20);
    background-color: $white;
    max-width: calc(#{$innerWidth}vw + vw(40) * 2);
    padding: vw(40);
    border-radius: vw(8);
    box-shadow: 0 0 vw(10) 0 $primary20;
    margin-inline: auto;
  }
  .thumbnail {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: vw(20) auto 0;
  }
  .dateWrapper {
    display: flex;
    place-content: center;
    gap: vw(20);
  }
  .date {
    color: $gray02;
    font-size: vw(14);
  }
  .heading {
    font-size: vw(28);
    text-align: center;
    margin-top: vw(14);
  }
  .cmsContent {
    margin-top: vw(40);
    &:not(#_) > *:first-child {
      margin-top: 0;
    }
    h2, h3, h4, h5, h6 {
      font-weight: $fwMedium;
      &:not(#_) {
        & + * {
          margin-top: vw(20);
        }
      }
    }
    p, ol, ul {
      margin-top: vw(20);
    }
    h2 {
      margin-top: vw(50);
      position: relative;
      border-bottom: vw(4) solid $primary10;
      padding-bottom: vw(10);
      font-size: vw(22);
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
        height: vw(4);
        background-color: $primary;
        content: "";
        transform: translateY(100%);
      }
    }
    h3 {
      position: relative;
      margin-top: vw(40);
      padding-left: vw(20);
      font-size: vw(20);
      &::before {
        position: absolute;
        top: vw(3);
        left: 0;
        width: vw(5);
        height: vw(24);
        background-color: $primary;
        content: "";
      }
    }
    ul {
      display: grid;
      row-gap: vw(10);
      position: relative;
      padding: vw(20);
      background-color: $primary10;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 vw(24) vw(24) 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: vw(20);
        &::before {
          position: absolute;
          top: .1em;
          left: 0;
          transform: translateY(50%);
          width: vw(10);
          aspect-ratio: 1;
          background: $primary;
          border-radius: 50%;
          content: "";
        }
      }
    }
    ol {
      position: relative;
      display: grid;
      gap: vw(15);
      background-color: $primary10;
      padding: vw(20);
      counter-reset: number 0;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 vw(24) vw(24) 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: vw(30);
        &::before {
          display: grid;
          place-content: center;
          position: absolute;
          top: -.8em;
          left: 0;
          line-height: 1;
          translate: 0 50%;
          width: vw(24);
          aspect-ratio: 1;
          padding-bottom: vw(2);
          border-radius: 50%;
          background: $primary;
          color: $white;
          font-weight: $fwMedium;
          counter-increment: number 1;
          content: counter(number);
        }
      }
    }
    a {
      color: $secondary;
      text-decoration: underline;
      @include hoverOpacity;
    }
  }
}
