@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .intro {
    padding-block: 80px;
    background: $white;
  }
  .heading {
    text-align: center;
    font-size: 24px;
    font-weight: $fwMedium;
    color: $primary;
  }
  .text {
    margin-top: 24px;
    text-align: center;
  }
  .tags {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .link {
    text-decoration: underline;
    @include hoverOpacity
  }
}

@include sp {
  .intro {
    padding-block: vw(60) calc(vw(60) + vw(60));
    background: $white;
  }
  .heading {
    text-align: center;
    font-size: vw(24);
    font-weight: $fwMedium;
    color: $primary;
  }
  .text {
    margin-top: vw(24);
  }
  .tags {
    margin-top: vw(30);
    display: flex;
    flex-wrap: wrap;
    gap: vw(20);
  }
  .link {
    text-decoration: underline;
    @include hoverOpacity
  }
}
