@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .list {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    padding-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: calc(#{$innerWidth}px + 40px);
    margin-inline: auto;
  }
  .item {
    position: relative;
    &:not(:last-of-type)::after {
      position: absolute;
      top: 13px;
      right: -20px;
      width: 8px;
      height: 8px;
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      translate: 0 -50%;
      rotate: 45deg;
      content: "";
    }
    &:last-of-type {
      flex: 1;
    }
  }
  .link {
    line-height: 1;
    text-decoration: underline;
    font-size: 14px;
    @include hoverOpacity;
  }
  .text {
    line-height: 1;
    font-size: 14px;
  }
}

@include sp {
  .list {
    display: flex;
    align-items: flex-end;
    column-gap: vw(30);
    padding-bottom: vw(10);
    overflow-x: auto;
    white-space: nowrap;
  }
  .item {
    position: relative;
    &:not(:last-of-type)::after {
      position: absolute;
      top: vw(12);
      right: vw(-18);
      width: vw(8);
      height: vw(8);
      border-top: vw(2) solid $primary;
      border-right: vw(2) solid $primary;
      translate: 0 -50%;
      rotate: 45deg;
      content: "";
    }
    &:last-of-type {
      flex: 1;
    }
  }
  .link {
    line-height: 1;
    text-decoration: underline;
    font-size: vw(12);
    @include hoverOpacity;
  }
  .text {
    line-height: 1;
    font-size: vw(12);
  }
}
