@use '../../../styles/use/import' as *;
@use '../../../styles/config/import' as *;

@include pc {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@include sp {

}
